body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.heading{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items:center;
}

.details{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items:center;
}